# Virtual environment
*venv*

# macOS stuff
.DS_Store

# Cache files
*cache*
*.bkp
*.dtmp
*.ipynb_checkpoints

# Python package
*egg-info*


# Data files
first-analysis/sources/
hene-analysis/


# User codes
graphs
test-codes

# Generated graphs
*.png


